.navbar {
  background-color: #1f3b66 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 80px;
  min-height: 60px;
}

.container-fluid {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-brand img {
  height: 140px;
  margin-right: 500px;
  margin-left: 20px;
}

.navbar-collapse {
  display: flex !important;
  justify-content: center; /* Centrado horizontal */
  padding-right: 10%; /* Empuja a la derecha */
}

.navbar-nav {
  display: flex;
  gap: 1.5rem; /* Espacio entre enlaces */
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0 !important;
  line-height: 60px;
}

.navbar-nav .nav-link.active {
  color: #f4c542 !important;
}

.navbar-nav .nav-link:hover {
  color: #9dafc2 !important;
}